extends layout

block content
 #banner.page-header
  .row
   .col-md-6.col-sm-12
    h1= title
 .row
  .col-md-6.col-sm-12
   p
    | locateLately was created to help people find places with wifi. 
    |<br /><br />
    | Lorem impsum dolor sit amet, consectetur adipiscing elit. Nunc sed lorem ac nisi dignissim accumasan. 